<div class="row">
  <div class="col-sm-9">
  <h1><%= @shop[:name] %></h1>
    <p><%= @shop[:description] %></p>
    <h3 class="mt-5">Reviews</h3>
    <% for review in @reviews %>
        <% user = @users_table.where(:id => review[:user_id]).to_a[0] %>
        <div class="row">
            <div class="col-sm-3">
            <h5> Rating by <%= user[:name] %>: <%= review[:rating] %> </h5> 
            </div> 
            <div class="col-sm-9">
            <h5><%= review[:comments] %> </h5>
            </div> 
        </div>  
    <% end %>
    <p class="mt-5"><a href="/shops/<%= @shop[:id] %>/reviews/new" class="btn btn-primary">Add a review</a></p>
  </div>

  <div class="col-sm-3">
    <h3>Address</h3>
    <p><%= @shop[:location] %></p>
    <h3>Google Map</h3>
    <iframe width="300"
           height="250"
           frameborder="0" 
           style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @shop[:location] %>&zoom=14" allowfullscreen>
    </iframe>
    <h3>Number of reviews</h3>
    <p><%= @count %></p>
  </div>

</div>